aiohttp==3.5.4
async-timeout==3.0.1
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
dblpy==0.3.3
discord==1.0.1
discord.py==1.2.5
dnspython==1.16.0
fuzzywuzzy==0.17.0
idna==2.8
multidict==4.7.4
numpy==1.18.1
Pillow==7.0.0
pymongo==3.10.1
ratelimiter==1.2.0.post0
requests==2.22.0
scipy==1.4.1
six==1.14.0
urllib3==1.25.8
webcolors==1.10
websockets==6.0
yarl==1.4.2
